# Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfvars
!terraform.tfvars.example

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
build/
venv/
env/

# Node
node_modules/
npm-debug.log*
build/
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# AWS
*.pem
.aws/

# Logs
*.log


boto3-1.42.17.dist-info/
botocore-1.42.17.dist-info/
s3transfer-0.16.0.dist-info/
urllib3-2.6.2.dist-info/